{{> head }}
{{> navbar}}

<div class="row">
  <div class="col-8">
    <h1>NodeJs</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit distinctio ut optio iste aliquid quidem
      dolorem, omnis assumenda officia! Delectus quos ea dicta consequatur cupiditate ullam! Debitis tempora sit quia!</p>
  </div>

  <div class="col-4">
    <img src="assets/img/nodejs.png" class="img-thumbnail">
  </div>
</div>

{{> footer}}